- content_for(:subtitle) do
  = t('.title')

= simple_form_for(@classroom, html: { class: 'pure-form pure-form-stacked' }, validate: true) do |f|
  = f.error_notification

  = f.input :student_id, collection: Student.active
  = f.input :course_id, collection: Course.active

  = f.button :submit, class: 'pure-button'
