= simple_form_for(@student, html: { class: 'pure-form pure-form-stacked' }, validate: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :status, collection: Status.to_a

  .form-actions
    = f.button :submit, class: 'pure-button pure-button-primary'
