- content_for(:subtitle) do
  = @student.name
p#notice = notice

p
  strong= t('simple_form.labels.defaults.name')
  | : 
  = @student.name
p
  strong= t('simple_form.labels.defaults.register_number')
  | : 
  = @student.register_number
p
  strong Status:
  = @student.status_humanize

- if @student.courses.any?
  h2= t('students.courses.title')

  = render partial: 'courses', locals: { courses: @student.courses }


= link_to t('defaults.models.edit'), edit_student_path(@student)
