table.center.pure-table
  thead
    tr
      th= t('simple_form.labels.defaults.name')
      th= t('simple_form.labels.defaults.register_number')
      th Status

  tbody
    - students.each do |student|
      tr
        td = link_to student.name, student
        td = student.register_number
        td = student.status_humanize
