- content_for(:subtitle) do
  = t('.title')

table.center.pure-table
  thead
    tr
      th= t('simple_form.labels.defaults.name')
      th= t('simple_form.labels.defaults.description')
      th Status

  tbody
    - @courses.each do |course|
      tr
        td = link_to course.name, course
        td = course.description
        td = course.status_humanize

br

.btn-group
  = link_to t('courses.new.link'), new_course_path, class: 'pure-button'
