p#notice = notice
- content_for(:subtitle) do
  = @course.name

p
  strong= t('simple_form.labels.defaults.name')
  | : 
  = @course.name
p
  strong= t('simple_form.labels.defaults.description')
  | : 
  = @course.description
p
  strong Status:
  = @course.status_humanize

- if @course.students.any?
  h2= t('courses.students.title')

  = render partial: 'students', locals: { students: @course.students }

= link_to t('courses.edit.link'), edit_course_path(@course)
