doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title Scholl
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    #layout
      a#menuLink.menu-link href="#menu"
        span
      #menu
        .pure-menu
          a.pure-menu-heading href="#"  Escola
          ul.pure-menu-list
            li.pure-menu-item
              = link_to t('students.index.title'), students_path,
                class: 'pure-menu-link'
            li.pure-menu-item
              = link_to t('courses.index.title'), courses_path,
                class: 'pure-menu-link'
            li.pure-menu-item
              = link_to t('classrooms.new.title'), new_classroom_path,
                class: 'pure-menu-link'
      #main
        .header
          h1 Escola
          h2= yield(:subtitle)
        .content
          = yield
